<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Javascipt is Everywhere</title>

  <!--CHANGE THIS TO USE ROLL UP?-->
  <link rel="stylesheet" href="reveal/css/reveal.css">
  <link rel="stylesheet" href="reveal/css/theme/rumyra.css" id="theme">
  <link rel="stylesheet" href="reveal/lib/css/zenburn.css">
  <script src="reveal/js/reveal.js"></script>

  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>

  <style type="text/css">
    #screen {
      position: absolute; top:0px; left:0px;
      margin: 0px; padding: 0px;
      width:100vw; height:100vh;
      background-color: black;
      display: none;
    }
    .vis-logos, .vis-speakers {
      width:100vw; height:95vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
    }
    .vis-logos img {
      display: block;
      width:10vw; height:10vw;
      margin:3vw;
    }
    .vis-speakers div {
      border-radius:50%;
    }
    .vis-speakers img {
      display: block;
      width:17vw; height:17vw;
      mix-blend-mode: overlay;
      border-radius:50%;
    }
  </style>
  
</head>

<!--
$brown: #463c34
$green: #acc486
$orange: #ea8d88
$purple: #8c4c6f

$cream: #eee5c4
$grey: #bebebe
-->
<body class="talk">
  <div class="reveal">
    <div class="slides">
      <section>
        <section data-background-color="#ea8d88" data-state="no-visuals">
          <h1>Javascipt is Everywhere</h1>
          <h2>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h2>
          <aside class="notes">
            
          </aside>
        </section>

        <!-- make this flash? -->
        <section data-background-color="#ea8d88" data-state="vis_logos">
          <audio src="media/warren.m4a" data-autoplay></audio>
          <aside class="notes">
            <p>DANCE!</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-state="no-visuals">
          <h1>Hello Halfstack!</h1>
          <h2>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h2>
          <aside class="notes">
            <p>Hello Halfstack!</p>
            <p>I'm Ruth - or @rumyra for those that don't know me</p>
            <p>Please follow me I just danced - like I danced!</p>
            <p>Absolute plesure to be here today. I mean Jack frankly is talking. I had the also pleasure of being here last year and it was awesome and Dylan very kindly - I say kindly - basically I did some crazy stuff and he was like - would you like to *start* the conf and *end* it. And I was like sure - we can do some JAVASCRIPT...</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="images/jsKid.gif">
          <aside class="notes">
            <h1>Javascript!</h1>
            <p>It's awesome right?</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>Quick run down?</h1>
          <aside class="notes">
            <p>What can I say - shall we do a brief history of javascript?</p>
            <p>Created in 10 days in May 1995 by Brendan Eich</p>
            <p>Stuff happened</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/alllogos.png">
          <aside class="notes">
            <p>And now we're here</p>
            <p>Seriously tho - it's been a hard journey for JS, what with the browser vendors and the actionscript and the ECMA v4, 3.1 5 and state in 2015, 2016.</p>
            <p>And now the storms over offline, pwas, can u write anything without it?</p>
            <p>Controversial...</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/serious.gif">
          <h1>Serious programming</h1>
          <aside class="notes">
            <p>But this is the wonderful thing about this loosely type dark art that is JavaScript. It can be serious, but it can also be a lot of fun. There are so many amazing things we now have to play with</p>
            <p>We know this because of all the places we see javascript now - the serious places like</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/aircraft.png">
          <h1>Aircraft</h1>
          <aside class="notes">
            <p>Node servers on an aircraft - this is a company called Reaktor - they built an in flight experiences via an onboard node server for Finair</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/ebola.png">
          <h1>Ebola</h1>
          <aside class="notes">
            <p>The new offline capabilities of javascript meant it help fight ebola - this is a talk at the last JSConfEU last year. Really important clever stuff.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/hack.png">
          <h1>Hacking</h1>
          <aside class="notes">
            <p>And of course, if we believe the telly - which we all do - javascript is used for serious hacking - as portayed in this usa programme 'white collar'.</p>
            <p>And then there's the fun stuff...</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/novation.png">
          <aside class="notes">
            <p>All</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/roland808.png">
          <aside class="notes">
            <p>these</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/viktor.png">
          <aside class="notes">
            <p>synth</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/html909.png">
          <aside class="notes">
            <p>tha</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/mod.png">
          <aside class="notes">
            <p>sisers</p>
            <p>They're all linked to at the end of these slides and I'll flurry link them after too - they're amazing - true engineering.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/lunar.png">
          <h1>Art</h1>
          <aside class="notes">
            <p>Art installations - like sebly's lunar trails. Hardware meets browser at it's best. An old arcade game recreated in the browser - which is not only a hardware installation but also you can play it in the browser on the website.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/hardware.jpg">
          <h1>Hardware</h1>
          <aside class="notes">
            <p>And I haven't even begun on hardware. Tessles, esprinos, node running on raspberry pies, noecoptors - we saw BLE beacons earlier. Javascript is literally everywhere.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background="images/trex.png">
          <h1>Dinosaurs</h1>
          <aside class="notes">
            <p>Dinosaurs - one of my friends hacks big mechanical dinosaurs. Sounds crazy right.</p>
            <p>We have this island of the south coast of England and there’s a park there, where the owner has just shipped in these huge dinosaurs. They all have mechanical skeletons which are control by raspberry pis. These in turn can be programmed with javascript. And so we were thinking of ways for these huge dinosaurs to be more crowd interactive. Having a motion or infrared sensor so they turn when they detect walking past…</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/jsKid.gif">
          <aside class="notes">
            <p>Ha - Javascript</p>
            <p>Fancy playing a game?</p>
          </aside>
        </section>
        
        <section data-background-color="#acc486" data-background-image="images/pusher.png">
          <h1>Treasure Hunt</h1>
          <h2>Pusher</h2>
          <aside class="notes">
            <p>With a massive thanks not only to Pusher but specifically to Ben from Pusher - who is over there</p>
            <p>There are buttons - buttons like this button, actually this is one of the buttons. And there are clues to where these buttons are.</p>
            <p>Your task, thoughout this conference is to</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/buttons.jpg">
          <h1>There are 3 buttons!</h1>
          <h2 class="fragment fade-in">Bar</h2>
          <h2 class="fragment fade-in">Toilet</h2>
          <h2 class="fragment fade-in">Entrance</h2>
          <aside class="notes">
            <p>Pls pls pls go and push these buttons, otherwise when you see me at the end I'll be all like</p>
            <p>I can't make these too hard - I mean you're only js devs after all!</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>There are 3 presses!</h1>
          <h2 class="fragment fade-in">Press</h2>
          <h2 class="fragment fade-in">Double Press</h2>
          <h2 class="fragment fade-in">Press & Hold (2s)</h2>
          <aside class="notes">
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>Understood?</h1>
          <h3 class="fragment fade-in">Say "Yes Ruth!"</h3>
          <aside class="notes">
            <p>I can't make these too hard - I mean you're only js devs after all!</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background="yoda.jpg">
          <h1>Treasure Hunt</h1>
          <h2>3 Buttons&nbsp;&nbsp;|&nbsp;&nbsp;3 Presses</h2>
          <h2 class="fragment fade-in">See you on the other side</h2>
          <aside class="notes">
            <p>My work here is done</p>
            <p>Enjoy the conference</p>
            <p>I will take the buttons down after the 4pm break as I need to collate the data</p>
          </aside>
        </section>

        <!-- INTERVAL!! -->
        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Javascipt is Everywhere</h1>
          <h2>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h2>
          <aside class="notes">
            
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="vis_speakers">
          <audio src="media/galvanize.m4a" data-autoplay></audio>
          <aside class="notes">
            
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals" data-background-image="images/jsKid.gif">
          <h1>HalfStack!</h1>
          <aside class="notes">
            <p>What a great afternoon</p>
          </aside>
        </section>

        <!-- we've seen...-->
        <section data-background-color="#8c4c6f">
          <h1>In just one afternoon</h1>
          <aside class="notes">
            <p>We now know js is not the enemy - we're super cool with webpack and babel.</p>
            <p>There was prototypes. lying and pledging allegieance - not all at the same time</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/buttons.jpg">
          <h1>Thank you</h1>
          <aside class="notes">
            <p>Wrote slides on fly</p>
            <p>Furiously sat at the back writing demos</p>
            <p>May or may not work</p>
            <p>do - flic - ifttt - evernote - done better</p>
            <p>Went well - worked - you pressed buttons - I got data - fundamentally</p>
            <p>Didn't work - bluetooth - I have a little android - evernote and ifttt have caps</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background="images/json.png">
          <h1>DATA</h1>
          <aside class="notes">
            <p>I'm new to data vis - so this is a bit of an experiment for me too</p>
            <p>d3</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Demos</h1>
          <aside class="notes">
            <p>Show demos</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Why?</h1>
          <aside class="notes">
            <p>Sure we haven't built something here that's going to change the world</p>
            <p>But there could just be one of you that begins to think outside of your text editor or IDE</p>
            <p>And that - that is why - Javascript - for all the little grieviancys we have amongst ourselves - is pretty awesome</p>
            <p>And WE make it that way - just by pushing buttons - randomely everyday</p>
            <p>That's pretty insane</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>@Rumyra</h1>
          <h3>@LiveJS_Network</h3>
          <h3>🍻</h3>
          <aside class="notes">
            <p>Thank you for letting me experiment - thanks for pusher.</p>
            <p>We're in a pub - we're going to a pub!</p>
          </aside>
        </section>

      </section>
    </div></div>

    <div id="screen"></div>

<script src="reveal/plugin/notes/notes.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="scripts/audioVisual.js"></script>

<script type="text/javascript">

// Reveal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Reveal.initialize({

  // Display controls in the bottom right corner
  controls: false,

  // Display a presentation progress bar
  progress: false,

  // Display the page number of the current slide
  slideNumber: false,

  // Push each slide change to the browser history
  history: true,

  // Enable keyboard shortcuts for navigation
  keyboard: true,

  center: false,

  // Transition style
  transition: 'fade', // none/fade/slide/convex/concave/zoom

  // Transition speed
  transitionSpeed: 'default', // default/fast/slow

  // Transition style for full page slide backgrounds
  backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom

  // Number of slides away from the current that are visible
  viewDistance: 2,

  // Parallax background image
  parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

  // Parallax background size
  parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

  // Amount to move parallax background (horizontal and vertical) on slide change
  // Number, e.g. 100
  parallaxBackgroundHorizontal: '',
  parallaxBackgroundVertical: ''

});


window.addEventListener('keyup', function(e) {
  if (e.keyCode === 86) {
    document.getElementById('akai').play();
  }
}, false);

// set which animation to show
let currentAnimation = 'vis_speakers',
  allEls,
  totalEls,
  animateDom = function() {},
  useMic = false;

// logos
Reveal.addEventListener( 'vis_logos', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-logos"><div><img src="images/logos/angular.png" /></div><div><img src="images/logos/atom.png" /></div><div><img src="images/logos/bower.png" /></div><div><img src="images/logos/backbone.png" /></div><div><img src="images/logos/babel.png" /></div><div><img src="images/logos/browserify.png" /></div><div><img src="images/logos/ember.png" /></div><div><img src="images/logos/grunt.png" /></div><div><img src="images/logos/gulp.png" /></div><div><img src="images/logos/hex.png" /></div><div><img src="images/logos/hex2.png" /></div><div><img src="images/logos/jquery.png" /></div><div><img src="images/logos/node.png" /></div><div><img src="images/logos/npm.png" /></div><div><img src="images/logos/rollup.png" /></div><div><img src="images/logos/vue.png" /></div><div><img src="images/logos/yarn.png" /></div><div><img src="images/logos/yui.png" /></div></section>';
  allEls = document.querySelectorAll('#screen div');
  totalEls = allEls.length;

  animateDom = function() {
    for (let i=0; i<totalEls; i++) {
      //style i
      // allEls[i].style.backgroundColor = 'hsla('+i*40+',30%,50%,1)';

      var freqOp = (frequencyData[i*2]/255)+0.1;
      allEls[i].style.opacity = freqOp;
      // allEls[i].style.filter = 'contrast('+(freqOp+1)+')';
    }
  }
}, false);

// speakers
Reveal.addEventListener( 'vis_speakers', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-speakers"><div><img src="images/speakers/chris.png" /></div><div><img src="images/speakers/christoph.jpg" /></div><div><img src="images/speakers/dylan.jpg" /></div><div><img src="images/speakers/jack.jpg" /></div><div><img src="images/speakers/jon.jpg" /></div><div><img src="images/speakers/kitson.jpg" /></div><div><img src="images/speakers/mark.jpg" /></div><div><img src="images/speakers/neils.jpg" /></div><div><img src="images/speakers/rob.jpg" /></div><div><img src="images/speakers/roo.jpg" /></div></section>';
  allEls = document.querySelectorAll('#screen div');
  totalEls = allEls.length;

  animateDom = function() {
    for (let i=0; i<totalEls; i++) {
      //style i
      allEls[i].style.backgroundColor = 'hsla('+i*33+',30%,50%,1)';

      var freqOp = (frequencyData[i*2]/255)+0.1;
      allEls[i].style.opacity = freqOp;
      allEls[i].style.filter = 'contrast('+(freqOp+1)+')';
    }
  }
}, false);

Reveal.addEventListener( 'no-visuals', function() {
  screen.style.display = 'none';
}, false);

</script>


</body>
</html>